                <td>{{ cs2020.Civilite}}</td>
                <td>{{ cs2020.Nom}}</td>
                <td>{{ cs2020.NomDusage}}</td>
                <td>{{ cs2020.Prenoms}}</td>
                <td>{{ cs2020.DateDeNaissance }}</td>
                <td>{{ cs2020._1erdons }} </td>
                <td>{{ cs2020.types1erdons }}</td>
                <td>{{ cs2020.Date1erdons|date('d/m/Y') }}</td>                   
                <td>{{ cs2020.Mois1erdons }}</td>
                <td>{{ cs2020._2edons }}</td>                    
                <td>{{ cs2020.types2edons }}</td>
                <td>{{ cs2020.Date2emedons }}</td>
                <td>{{ cs2020.Mois2emedons }}</td>
            </tr>

