{% set show ='base.html.twig' %}
{% extends show %}

{% block body %}

<!-- Mon container (avec une max-width) dans lequel mon contenu va être placé: https://getbootstrap.com/docs/4.1/layout/overview/#containers -->
<div class="container ">
    <!-- Je crée une nouvelle ligne dans ma grille virtuelle: https://getbootstrap.com/docs/4.1/layout/grid/-->
    <div class="row">

      <!-- Par défaut (= sur mobile) mon element <main> prend toutes les colonnes (=12)
        MAIS au dela d'une certaine taille, il n'en prendra plus que 9
        https://getbootstrap.com/docs/4.1/layout/grid/#grid-options -->
        <main  class=" text-center">

            <!-- Je dispose une card: https://getbootstrap.com/docs/4.1/components/card/ -->
            <div class="card-body">
                <p style="color:#0f5f9c; font-weight:bold;font-size:35px;">Election Municipale {{annee}} !</p>
            </div>
            
        {% for message in app.flashes('success') %}
            <div class="alert alert-success"> {{ message }}  </div>
        {% endfor %}

                    <article class="card">
                <div class="card-body"> 
                    <ul class="photos">
                    <li style="background-color:#83c55e" >
                        <div >
                            Chers Amis,
                            <br/>
                            À l'occasion du premier tour des élections municipales, les L'Haÿssiennes et les L'Haÿssiens ont porté notre liste 
                            <br/>"Plus Belle L'Haÿ avec Vincent Jeanbrun" 
                            <br/>en tête du scrutin, avec 54,26% de suffrages exprimés en notre faveur.
                            <br/>
                            Grâce à vous, grâce à eux, nous allons continuer à faire avancer L'Haÿ au cours de ce mandat.
                            <br/>
                            Je tiens à vous remercier chaleureusement de votre soutien constant au cours de cette campagne et de votre confiance renouvelée.
                            <br/>
                            Vous pouvez visionner l'annonce officielle des résultats sur le lien ci-dessous :<br/>
                            <a href="https://www.facebook.com/vincent.jeanbrun/videos/10159552655834829/" target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/victoire.jpg') }}" width=80%></a>
                            <br/><a href="https://www.facebook.com/vincent.jeanbrun/videos/10159552655834829/" target="_blank">Cliquez sur l'image ou ICI</a>
                        </div>
                    </li>
                    </ul>
                </div>
            </article>
            <article class="card">
                <div class="card-body"> 
                    <ul class="photos">
                        <li style="background-color:#83c55e" >
                            <div >
                                <a href="https://www.youtube.com/watch?v=z_W-mlShfkY&feature=share&fbclid=IwAR3DTz4om3WNaT9Bjvx57WCWzbqyYp2fIY5sWXaZNY9KOdrUDvPKLDFYBJQ" target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/dernier meeting.png') }}" ></a>
                                <br/><a href="https://www.youtube.com/watch?v=z_W-mlShfkY&feature=share&fbclid=IwAR3DTz4om3WNaT9Bjvx57WCWzbqyYp2fIY5sWXaZNY9KOdrUDvPKLDFYBJQ" target="_blank">Cliquez sur l'image ou ICI</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </article>
            
            <article class="card ">
                <div class="card-body "> 
                    <ul class="tracts">
                        <li style="background-color:#83c55e">
                            <div>
                                <a href="{{ asset('documents/' ~ annee ~ '/Programme 2020.pdf') }}" target="_blank"><h3>Notre programme.<br/>&nbsp;<br/>&nbsp;</h3></a>
                                <a href="{{ asset('documents/' ~ annee ~ '/Programme 2020.pdf') }}" target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/programme.jpg') }}"></a>
                                <br/><a href="{{ asset('documents/' ~ annee ~ '/Programme 2020.pdf') }}" target="_blank">Cliquez sur l'image ou ICI</a>
                            </div>
                        </li>
                        <li style="background-color:#c03f97">
                            <div>
                                <a href="{{path('tracts', {'annee': annee})}}" ><h3>Retrouvez nos documents thématiques</h3></a>
                                <a href="{{path('tracts', {'annee': annee})}}" ><img src="{{ asset('assets/images/' ~ annee ~ '/tract1.jpg') }}"></a>
                                <br/><a href="{{path('tracts', {'annee': annee})}}" >Cliquez sur l'image ou ICI</a>
                            </div>
                        </li>
                        <li style="background-color:#f1bc18">
                            <div>
                                <a href="{{path('videos', {'annee': annee})}}" ><h3>Retrouvez nos <br/>videos <br/>&nbsp;</h3></a>
                                <a href="{{path('videos', {'annee': annee})}}" ><img src="{{ asset('assets/images/' ~ annee ~ '/tract1.jpg') }}"></a>
                                <br/><a href="{{path('videos', {'annee': annee})}}" >Cliquez sur l'image ou ICI</a>
                            </div>
                        </li>
                        <li style="background-color:#57abde">
                            <div>
                                <a href="{{path('lives', {'annee': annee})}}" ><h3>Retrouvez nos <br/>Lives <br/>&nbsp;</h3></a>
                                <a href="{{path('lives', {'annee': annee})}}" ><img src="{{ asset('assets/images/' ~ annee ~ '/tract1.jpg') }}"></a>
                                <br/><a href="{{path('lives', {'annee': annee})}}" >Cliquez sur l'image ou ICI</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </article>
        </main>
    </div>
</div>



{% endblock %} 