{% set show ='base.html.twig' %}
{% extends show %}

{% block body %}

<ul class="tracts">
<li style="background-color:#83c55e">
  <div>
    <h3>Vidéo 14</h3>
	<h4>Pennamen Sébastien <br/>&nbsp;</h4>
    <a href="https://www.facebook.com/pennamenseb/videos/10216495759686643/" target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/video14.jpg')}}"></a>
    <br/><a href="https://www.facebook.com/pennamenseb/videos/10216495759686643/" target="_blank">Cliquez sur l'image ou ICI</a>
  </div>
</li>
<li style="background-color:#c03f97">
  <div>
    <h3>Vidéo 13</h3>
	<h4>Taoufik Ouahbi <br/>&nbsp;</h4>
    <a href="https://www.facebook.com/plusbellelhay/videos/623572928466253/" target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/video13.jpg')}}"></a>
    <br/><a href="https://www.facebook.com/plusbellelhay/videos/623572928466253/" target="_blank">Cliquez sur l'image ou ICI</a>
  </div>
</li>
<li style="background-color:#f1bc18">
  <div>
    <h3>Vidéo 12</h3>
	<h4>Florian Létard <br/>&nbsp;</h4>
    <a href="https://www.facebook.com/florian.letard/videos/10218699024579801/" target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/video12.jpg')}}"></a>
    <br/><a href="https://www.facebook.com/florian.letard/videos/10218699024579801/" target="_blank">Cliquez sur l'image ou ICI</a>
  </div>
</li>
<li style="background-color:#57abde">
  <div>
    <h3>Vidéo 11</h3>
	<h4>Nadia et son fils Rayane Hannoune </h4>
    <a href="https://www.facebook.com/plusbellelhay/videos/199254971457088/" target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/video11.jpg')}}"></a>
    <br/><a href="https://www.facebook.com/plusbellelhay/videos/199254971457088/" target="_blank">Cliquez sur l'image ou ICI</a>
  </div>
</li>
<li style="background-color:#f79233">
  <div>
    <h3>Vidéo 10</h3>
	<h4>Benjamin <br/>&nbsp;</h4>
    <a href="https://www.facebook.com/plusbellelhay/videos/538607783414388/" target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/video10.jpg')}}"></a>
    <br/><a href="https://www.facebook.com/plusbellelhay/videos/538607783414388/" target="_blank">Cliquez sur l'image ou ICI</a>
 </div>
</li>
</ul>

<ul class="tracts">
<li style="background-color:#83c55e">
  <div>
    <h3>Vidéo 9</h3>
	<h4>Fatah Bendali <br/>&nbsp;</h4>
    <a href="https://www.facebook.com/fatah.bendali.68/videos/1426723340832244/" target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/video9.jpg')}}"></a>
    <br/><a href="https://www.facebook.com/fatah.bendali.68/videos/1426723340832244/" target="_blank">Cliquez sur l'image ou ICI</a>
 </div>
</li>
<li style="background-color:#c03f97">
  <div>
    <h3>Vidéo 8</h3>
	<h4>Olivier Dufour <br/>&nbsp;</h4>
    <a href="https://www.facebook.com/olivier.dufour.7374/videos/188347812383357/" target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/video8.jpg')}}"></a>
    <br/><a href="https://www.facebook.com/olivier.dufour.7374/videos/188347812383357/" target="_blank">Cliquez sur l'image ou ICI</a>
 </div>
</li>

<li style="background-color:#f1bc18">
  <div>
    <h3>Vidéo 7</h3>
    <h4>Serge Cussol  <br/>&nbsp;</h4>
    <a href="https://www.facebook.com/serge.cussol/videos/10216058338633157/" target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/video7.jpg')}}"></a>
    <br/><a href="https://www.facebook.com/serge.cussol/videos/10216058338633157/" target="_blank">Cliquez sur l'image ou ICI</a>
  </div>
</li>
<li style="background-color:#57abde">
  <div>
  <h3>Vidéo 6</h3>
    <h4>Patrick Guiot <br/>&nbsp;</h4>
    <a href="https://www.facebook.com/plusbellelhay/videos/640841640003455/" target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/video6.jpg')}}"></a>
    <br/><a href="https://www.facebook.com/plusbellelhay/videos/640841640003455/" target="_blank">Cliquez sur l'image ou ICI</a>

  </div>
</li>
<li style="background-color:#f79233">
  <div>
     <h3>Vidéo 5</h3>
    <h4>Michel Larjaud <br/>&nbsp;</h4>
    <a href="https://www.facebook.com/michel.larjaud/videos/2592871484321604/" target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/video5.jpg')}}"></a>
    <br/><a href="https://www.facebook.com/michel.larjaud/videos/2592871484321604/" target="_blank">Cliquez sur l'image ou ICI</a>
 </div>
</li>
</ul>

<ul class="tracts">
<li style="background-color:#83c55e">
  <div>
   <h3>Vidéo 4</h3>
    <h4>Robert BASSALER <br/>&nbsp;</h4>
    <a href="https://www.facebook.com/plusbellelhay/videos/2511050742556402/" target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/video4.jpg')}}"></a>
    <br/><a href="https://www.facebook.com/plusbellelhay/videos/2511050742556402/" target="_blank">Cliquez sur l'image ou ICI</a>
 </div>
</li>

<li style="background-color:#c03f97">
  <div>
     <h3>Vidéo 3</h3>
    <h4>Igor Bras Guerreiro <br/>&nbsp;</h4>
    <a href="https://www.facebook.com/miguel.brasguerreiro.1/videos/671796270225097/" target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/video3.jpg')}}"></a>
    <br/><a href="https://www.facebook.com/miguel.brasguerreiro.1/videos/671796270225097/" target="_blank">Cliquez sur l'image ou ICI</a>
</li>
<li style="background-color:#f1bc18">
  <div>
  <h3>Vidéo 2</h3>
    <h4>Alexandra Chauvaux <br/>&nbsp;</h4>
    <a href="https://www.facebook.com/plusbellelhay/videos/597890204109247/" target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/video2.jpg')}}"></a>
    <br/><a href="https://www.facebook.com/plusbellelhay/videos/597890204109247/" target="_blank">Cliquez sur l'image ou ICI</a>
   </div>
</li>
<li style="background-color:#57abde">
  <div>
    <h3>Vidéo 1</h3>
    <h4>Sophie Helie <br/>&nbsp;</h4>
    <a href="https://www.facebook.com/plusbellelhay/videos/183585099541848/" target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/video1.jpg')}}"></a>
    <br/><a href="https://www.facebook.com/plusbellelhay/videos/183585099541848/" target="_blank">Cliquez sur l'image ou ICI</a>
</div>
</li>
<li style="background-color:#f79233">
  <div>
  </div>
</li>
</ul>


{% endblock %} 