<tr class="table-active">
    <th scope="row"><font style="vertical-align: inherit;">{{ electeur.Bureau}}</font></th>
    <td><font style="vertical-align: inherit;">{{ electeur.Numelect}}</font></td>
    <td><font style="vertical-align: inherit;">{{ electeur.Civilite}}</font></td>
    <td><font style="vertical-align: inherit;">{{ electeur.Nom}}</font></td>
    <td><font style="vertical-align: inherit;">{{ electeur.NomDusage}}</font></td>
    <td><font style="vertical-align: inherit;">{{ electeur.Prenoms}}</font></td>
    <td><font style="vertical-align: inherit;">{{ electeur.DateDeNaissance }}</font></td>
    <td><font style="vertical-align: inherit;">{{ electeur.NumRue}}</font></td>
    <td><font style="vertical-align: inherit;">{{ electeur.BisTerQuater}}</font></td>
    <td><font style="vertical-align: inherit;">{{ electeur.Rue}}</font></td>
    <td><font style="vertical-align: inherit;">{{ electeur.CodePostal}}</font></td>
    <td><font style="vertical-align: inherit;">{{ electeur.Commune }}</font></td>
    <td><input class="form-check form-check-input bg-primary {% if electeur.Avote|upper == 'X' %}bg-success {% endif %}" {% if  is_granted('ROLE_CAPTURE') == false %} disabled {% endif %} type="checkbox" value="{{electeur.Avote}} "  {% if electeur.Avote|upper == 'X' %}checked {% endif %} ></td>            
</tr>

