{% extends 'base.html.twig' %}
{% block title %}Tous les élécteurs{% endblock %}

{% block body %}
    <div class="container mt-4 mb-4  text-center ">
        <h1>Voir tous les élécteurs {{annee}}</h1>
    </div>
 
    <article class="card">
        <div class="card-body mt-4">
            <form name="bureau" action="{{ path('liste.electorale.index', {'annee': annee}) }}" method="get">
                <input type="hidden"  id="annee" name="annee" value="{{annee}}" >
                <input type="hidden"  name="selectbureau" value="{{selectbureau}}" >

                    <div class="row align-items-center justify-content-center">
                        {{ form_start(form)}}
                            <div class="col col-lg-auto">
                                {{ form_row(form.Nom,
                                            {   'label': "Saisir un nom",
                                                'attr': {
                                                    'onchange': "window.document.bureau.submit()"
                                                }
                                            })
                                }}
                            </div>
                            <div class="col col-lg-auto">
                                {{ form_row(form.Bureau,
                                            {   'label': "Choisir un bureau",
                                                'attr': {
                                                    'onchange': "window.document.bureau.submit()"
                                                }
                                            })
                                }}
                            </div>
                            <div class="col col-lg-auto">
                                {{ form_row(form.Rue, 
                                            {   'label': "Choisir la rue",
                                                'attr': {
                                                    'onchange': "window.document.bureau.submit()"
                                                }
                                            })
                                }} 
                            </div>
                            <div class="col col-lg-auto">  
                                <div class="mb-3">
                                    <label for="bday" class="form-label">Veuillez saisir une date de naissance :</label>
                                    <input type="date" name="bday" class="form-select" >
                                </div>
                            </div>
                            <div class="col align-self-center col-lg-auto"> 
                                <button class="btn btn-primary" type="submit" id="button-addon2">valider</button>
                            </div>

                    <table class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">Bureau</th>
                                <th scope="col">Num elect</th>
                                <th scope="col">Civilite</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Nom D'usage</th>
                                <th scope="col">Prenoms</th>
                                <th scope="col">Date De Naissance</th>
                                <th scope="col">Num Rue</th>
                                <th scope="col">Bis/Ter/Quater</th>
                                <th scope="col">Rue</th>
                                <th scope="col">Code Postal</th>
                                <th scope="col">Commune</th>
                                <th scope="col">                    
                                    {% if electeurs.isSorted('p.Avote') and direction=="desc" %}
                                        {{ knp_pagination_sortable(electeurs, "▲" , 'p.Avote') }}
                                    {% elseif electeurs.isSorted('p.Avote') and direction %}
                                        {{ knp_pagination_sortable(electeurs, "▼", 'p.Avote') }}
                                    {% else %}
                                        {{ knp_pagination_sortable(electeurs, "▲▼", 'p.Avote') }}
                                    {% endif %}
                                    <br>
                                    {{ knp_pagination_sortable(electeurs, 'Avote', 'p.Avote') }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for electeur in electeurs %}
                                <div class="col-md-4">
                                {% include 'listeElectorale/_listeElectorale.html.twig' %}            
                                </div>
                                <input type="hidden" id="idAvote" disabled value="{{ electeur.id }}">
                            {% endfor %}
                        </tbody>
                    </table>
 
                    {{ knp_pagination_render( electeurs, 'others/twitter_bootstrap_v4_pagination.html.twig' ) }} 
                    {{ form_end(form) }} 
                </div>
            </form>
        </div>
    </article>
{% endblock %}
