{% set show ='base.html.twig' %}
{% extends show %}

{% block body %}

<!-- Mon container (avec une max-width) dans lequel mon contenu va être placé: https://getbootstrap.com/docs/4.1/layout/overview/#containers -->
<div class="container ">
    <!-- Je crée une nouvelle ligne dans ma grille virtuelle: https://getbootstrap.com/docs/4.1/layout/grid/-->
    <div class="row">

      <!-- Par défaut (= sur mobile) mon element <main> prend toutes les colonnes (=12)
        MAIS au dela d'une certaine taille, il n'en prendra plus que 9
        https://getbootstrap.com/docs/4.1/layout/grid/#grid-options -->
        <main  class=" text-center">

            <!-- Je dispose une card: https://getbootstrap.com/docs/4.1/components/card/ -->
            <div class="card-body">
                <p style="color:#0f5f9c; font-weight:bold;font-size:35px;">Eléction Départementale {{annee}} !</p>
            </div>
            
        {% for message in app.flashes('success') %}
            <div class="alert alert-success"> {{ message }}  </div>
        {% endfor %}

                    <article class="card">
                <div class="card-body"> 
                    <ul class="photos">
                    <li style="background-color:#83c55e" >
                        <div >
                            Chers Amis,
                            <br/>
                            À l'occasion du premier tour des élections departementale, les L'Haÿssiennes et les L'Haÿssiens ont porté notre liste 
                             </div>
                    </li>
                    </ul>
                </div>
            </article>
          
            <article class="card">
                <div class="card-body "> 
                    <ul class="tracts">
                        <li style="background-color:#83c55e">
                        <div>
                            <a href={{ asset('documents/' ~ annee ~ '/1.Candidature-LHAY.pdf')}} target="_blank">
                            <h3>Tract 1</h3>
                            <h4>Candidature<br/>&nbsp;</h4></a>
                            <a href={{ asset('documents/' ~ annee ~ '/1.Candidature-LHAY.pdf')}} target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/1.Candidature-LHAY.jpg')}}"></a>
                            <br/><a href={{ asset('documents/' ~ annee ~ '/1.Candidature-LHAY.pdf')}} target="_blank">Cliquez sur l'image ou ICI</a>
                        </div>
                        </li>
                        <li style="background-color:#c03f97">
                        <div>
                            <a href={{ asset('documents/' ~ annee ~ '/2.Finances.pdf')}} target="_blank">
                            <h3>Tract 2</h3>
                            <h4>Finances<br/>&nbsp;</h4></a>
                            <a href={{ asset('documents/' ~ annee ~ '/2.Finances.pdf')}} target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/2.Finances.jpg')}}"></a>
                            <br/><a href={{ asset('documents/' ~ annee ~ '/2.Finances.pdf')}} target="_blank">Cliquez sur l'image ou ICI</a>
                        </div>
                        </li>
                        <li style="background-color:#f1bc18">
                        <div>
                            <a href={{ asset('documents/' ~ annee ~ '/3.Collèges.pdf')}} target="_blank">
                            <h3>Tract 3</h3>
                            <h4>Collèges <br/>&nbsp;</h4></a>
                            <a href={{ asset('documents/' ~ annee ~ '/3.Collèges.pdf')}}  target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/3.Collèges.jpg')}}"></a>
                            <br/><a href={{ asset('documents/' ~ annee ~ '/3.Collèges.pdf')}}  target="_blank">Cliquez sur l'image ou ICI</a>
                        </div>
                        </li>
                        <li style="background-color:#57abde">
                        <div>
                            <a href={{ asset('documents/' ~ annee ~ '/4.Roseraie.pdf')}}  target="_blank">
                            <h3>Tract 4</h3>
                            <h4>Roseraie <br/>&nbsp; </h4></a>
                            <a href={{ asset('documents/' ~ annee ~ '/4.Roseraie.pdf')}}  target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/4.Roseraie.jpg')}}"></a>
                            <br/><a href={{ asset('documents/' ~ annee ~ '/4.Roseraie.pdf')}} target="_blank">Cliquez sur l'image ou ICI</a>
                        </div>
                        </li>
                        <li style="background-color:#f79233">
                        <div>
                            <a href={{ asset('documents/' ~ annee ~ '/5.Solidarités.pdf')}} target="_blank">
                            <h3>Tract 5</h3>
                            <h4>Solidarités<br/>&nbsp; </h4></h4></a>
                            <a href={{ asset('documents/' ~ annee ~ '/5.Solidarités.pdf')}} target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/5.Solidarités.jpg')}}"></a>
                            <br/><a href={{ asset('documents/' ~ annee ~ '/5.Solidarités.pdf')}} target="_blank">Cliquez sur l'image ou ICI</a>
                        </div>
                        </li>
                    </ul>
                    <ul class="tracts">
                        <li style="background-color:#83c55e">
                        <div>
                            <a href={{ asset('documents/' ~ annee ~ '/6.Valophis.pdf')}} target="_blank">
                            <h3>Tract 6</h3>
                            <h4>Valophis<br/>&nbsp;</h4></a>
                            <a href={{ asset('documents/' ~ annee ~ '/6.Valophis.pdf')}} target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/6.Valophis.jpg')}}"></a>
                            <br/><a href={{ asset('documents/' ~ annee ~ '/6.Valophis.pdf')}} target="_blank">Cliquez sur l'image ou ICI</a>
                        </div>
                        </li>
                        <li style="background-color:#c03f97">
                        <div>
                            <a href={{ asset('documents/' ~ annee ~ '/7.Ecologie.pdf')}} target="_blank">
                            <h3>Tract 7</h3>
                            <h4>Ecologie <br/>&nbsp;</h4></a>
                            <a href={{ asset('documents/' ~ annee ~ '/7.Ecologie.pdf')}}  target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/7.Ecologie.jpg')}}"></a>
                            <br/><a href={{ asset('documents/' ~ annee ~ '/7.Ecologie.pdf')}}  target="_blank">Cliquez sur l'image ou ICI</a>
                        </div>
                        </li>
                        <li style="background-color:#f1bc18">
                        <div>
                            <a href={{ asset('documents/' ~ annee ~ '/8.Sécurité.pdf')}}  target="_blank">
                            <h3>Tract 8</h3>
                            <h4>Sécurité <br/>&nbsp; </h4></a>
                            <a href={{ asset('documents/' ~ annee ~ '/8.Sécurité.pdf')}}  target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/8.Sécurité.jpg')}}"></a>
                            <br/><a href={{ asset('documents/' ~ annee ~ '/8.Sécurité.pdf')}} target="_blank">Cliquez sur l'image ou ICI</a>
                        </div>
                        </li>
                        <li style="background-color:#57abde">
                        <div>
                            <a href={{ asset('documents/' ~ annee ~ '/9.Voirie.pdf')}} target="_blank">
                            <h3>Tract 9</h3>
                            <h4>Voirie<br/>&nbsp; </h4></h4></a>
                            <a href={{ asset('documents/' ~ annee ~ '/9.Voirie.pdf')}} target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/9.Voirie.jpg')}}"></a>
                            <br/><a href={{ asset('documents/' ~ annee ~ '/9.Voirie.pdf')}} target="_blank">Cliquez sur l'image ou ICI</a>
                        </div>
                        </li>
                        <li style="background-color:#f79233">
                        <div>
                            <a href={{ asset('documents/' ~ annee ~ '/10.Circulaire.pdf')}} target="_blank">
                            <h3>Tract 10</h3>
                            <h4>Circulaire<br/>&nbsp; </h4></h4></a>
                            <a href={{ asset('documents/' ~ annee ~ '/10.Circulaire.pdf')}} target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/10.Circulaire.jpg')}}"></a>
                            <br/><a href={{ asset('documents/' ~ annee ~ '/10.Circulairee.pdf')}} target="_blank">Cliquez sur l'image ou ICI</a>
                        </div>
                        </li>
                    </ul>
                </div>
            </article>
        </main>
    </div>
</div>



{% endblock %} 