
            <tr class="table-active">
                <th scope="row"><font style="vertical-align: inherit;">{{ contact.Numbd}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.Numcontact}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.IDle2017}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.Civilite}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.Nom}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.IDle2015}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.NomDusage}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.Prenoms}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.DateDeNaissance }}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.logements}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.codeimmeuble}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.Bureau}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.ComplementDeLocalisation1}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.ComplementDeLocalisation2}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.NumeroVoie}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.TypeVoie}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.rue}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.LieuDit}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.CodePostal}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.VilleLocalite}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.quartier}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.tel}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.mobile}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.email}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.desinscrit}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.reseausociaux}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.taillefoyer}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.anciennete}}</font></td>
                <td><font style="vertical-align: inherit;">{{ contact.commentaire }}</font></td>
            </tr>

